<div class="text-xl sm:text-3xl text-gray-400 px-5 flex justify-center w-full">
  <div
    class="w-fit py-5 px-5 lg:px-10 rounded-xl shadow-lg shadow-indigo-500 bg-blackAplha500 backdrop-blur-sm text-center">
    <p class="text-center">&copy; Copyright 2024 Auth-remastered by Babasaheb Bhalekar</p>
  </div>
</div>