<link rel='stylesheet' href='/stylesheets/index.css' />
<div class=" w-full pt-20 h-screen">
  <h1>
    <%= title %>
  </h1>
  <p class=" font-neumachina text-xl">Welcome to <%= title %>
  </p>
</div>