<link rel="stylesheet" href="/stylesheets/profile.css">
<div class=" flex justify-center w-full pt-48 px-8 lg:px-20">

  <div class="card-wrapper relative w-full overflow-hidden rounded-[3rem] max-w-[600px] lg:max-w-none bg-zinc-950">

    <div class="z-10 relative flex flex-col items-center gap-10 lg:gap-0 lg:flex-row w-full h-full">

      <div class=" lside w-full lg:w-1/3 h-full flex justify-center rounded-[3rem]">
        <div class="w-fit h-[30rem] flex flex-col justify-end p-10 bg-blackAplha600 rounded-b-full">
          <img class="w-[15rem] h[15rem] rounded-full" src="<%= user.picture %>" alt="">
        </div>
      </div>

      <div class="rside text-3xl p-5 lg:p-20 lg:min-h-[50rem] flex flex-col lg:justify-center gap-5 font-medium">

        <div class=" space-y-5">
          <h1 class=" font-neumachina text-6xl lg:text-8xl">
            <%= user.name %>
          </h1>
          <h3 class=" text-2xl lg:text-3xl font-comfortaa font-bold text-lime-500">
            <%= user.email %>
          </h3>
        </div>


        <div class=" flex items-center gap-5">
          <span class=" w-16 h-16"><img src="/images/profile/twitter.svg" alt=""></span>
          <span class=" w-16 h-16"><img src="/images/profile/linkedin.svg" alt=""></span>
          <span class=" w-16 h-16"><img src="/images/profile/github.svg" alt=""></span>

          <div class=" bg-gray-200 rounded-full flex items-center gap-4 px-5 py-1">
            <img class=" w-16 h-16" src="/images/profile/mail.png" alt="">
            <span class=" font-comfortaa text-3xl font-bold text-zinc-800">message</span>
          </div>
        </div>

      </div>

    </div>

    <div class=" z-0 absolute bottom-0 left-0 h-[180%] w-[200%]">
      <img class=" w-full h-full object-cover" src="/images/home/gradient-bg.svg" alt="">
    </div>

  </div>

</div>