<link rel="stylesheet" href="/stylesheets/profile.css">
<div class=" flex justify-center items-center w-full h-screen pt-48 px-8 lg:px-20">

  <div
    class="card-wrapper relative w-full h-full overflow-hidden rounded-[3rem] max-h-[600px] sm:max-h-[500px] max-w-[600px] lg:max-w-none">

    <div class="z-10 relative flex flex-col items-center gap-10 lg:gap-0 lg:flex-row w-full h-full">

      <div class=" lside w-full h-auto sm:h-full lg:w-1/3 flex justify-center rounded-[3rem]">
        <div class="w-fit h-[30rem] flex flex-col justify-end p-10 rounded-b-full bg-blackAplha900">
          <img class="w-[15rem] h[15rem] rounded-full" src='<%=user.picture %>' alt="">
        </div>
      </div>

      <div class="rside text-3xl p-5 lg:p-20 lg:min-h-[50rem] flex flex-col lg:justify-center gap-5 font-medium">

        <div class=" flex flex-col gap-10">
          <h1
            class=" font-poppins text-6xl lg:text-8xl bg-gradient-to-br from-pink-600 from-20% to-zinc-800 text-transparent bg-clip-text">
            <%= user.name %>
          </h1>
          <h3 class=" text-2xl lg:text-4xl self-end font-comfortaa font-bold text-zinc-800">
            <%= user.email %>
          </h3>
        </div>


        <div class=" flex items-center gap-5">
          <span class=" w-16 h-16"><img src="/images/profile/twitter.svg" alt=""></span>
          <span class=" w-16 h-16"><img src="/images/profile/linkedin.svg" alt=""></span>
          <span class=" w-16 h-16"><img src="/images/profile/github.svg" alt=""></span>

          <div class=" bg-gray-200 rounded-full flex items-center gap-4 px-5 py-1">
            <img class=" w-16 h-16" src="/images/profile/mail.png" alt="">
            <span class=" font-comfortaa text-3xl font-bold text-zinc-800">message</span>
          </div>
        </div>

      </div>

    </div>

    <div class=" z-0 absolute bottom-0 left-0 h-[130%] w-[100%] blur-3xl">
      <img class=" w-full h-full object-cover" src="/images/profile/profilebg.jpg" alt="">
    </div>

  </div>

</div>