<script src="/javascripts/resetPassword.js"></script>
<div
  class="absolute left-0 right-0 m-auto flex items-center justify-center w-screen h-full font-poppins font-medium rounded-3xl overflow-clip">

  <div class=" z-20 flex flex-col flex-grow justify-center gap-5 px-10 sm:p-36 max-w-[80rem]">

    <h1 class=" text-zinc-950 text-3xl sm:text-5xl font-neumachina">Forgot Your Password ? No worries!!</h1>
    <span class=" text-2xl sm:text-4xl text-blue-600 mb-4">Flip the Forgotten Password
      Switch 🎊🎉</span>

    <form id="resetForm" class="z-20 flex flex-col gap-8 w-full" action="/auth/reset-link?page=reset-password"
      method="post">
      <input
        class=" w-full px-8 py-6 sm:py-8 text-3xl rounded-xl outline-none ring-2 ring-zinc-700 bg-zinc-950 focus:ring-pink-500"
        type="text" name="email" id="email" placeholder="Email" autocomplete="on" required>

      <input
        class="w-full px-8 py-6 sm:py-8 text-3xl rounded-xl outline-none ring-2 ring-zinc-700 bg-zinc-950 focus:ring-pink-500"
        type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" required>

      <input
        class="w-full px-8 py-6 sm:py-8 text-3xl rounded-xl outline-none ring-2 ring-zinc-700 bg-zinc-950 focus:ring-pink-500"
        type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" autocomplete="current-password"
        required>

      <input type="hidden" id="token" name="token" value="" />

      <button
        class="text-3xl font-poppins font-semibold text-gray-800 bg-gradient-to-r from-gray-100 from-30% to-blue-600 to-80% px-8 py-5 rounded-xl"
        type="submit">
        SignIn
      </button>

    </form>

  </div>

  <div class=" z-0 absolute bottom-0 -left-1/2 h-[150%] w-[200%] blur-3xl">
    <img class=" w-full h-full object-cover" src="/images/common/reset.jpg" alt="">
  </div>

</div>