<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="relative w-full h-screen">

  <div class="bgImg z-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen h-full">
    <img class=" w-full h-full object-cover" src="/images/common/login.jpg" alt="">
  </div>

  <div class="login relative z-20 w-full h-full flex justify-center items-center px-3 sm:px-0">

    <div class="flex w-full sm:w-[500px] lg:w-[800px] rounded-xl bg-blackAplha600 p-5 sm:p-10">

      <div class="w-1/3 hidden lg:flex justify-center items-center">
        <div class=" text-teal-500 p-5 border-t-2 border-l-2 rounded-xl border-sky-500">
          <h1 class=" text-7xl font-neumachina font-bold">Auth</h1>
          <h3 class=" text-zinc-300 text-3xl">Re-mastered</h3>
        </div>
      </div>

      <div class="w-full lg:w-2/3 flex justify-center">

        <div class="flex flex-col flex-grow items-center gap-5 md:gap-8">

          <h1 class=" text-3xl md:text-5xl font-poppins font-semibold">SignUp</h1>

          <div
            class="w-full text-2xl md:text-3xl flex gap-2 items-center justify-center py-4 md:py-6 rounded-md bg-gray-600/30">
            <div class=" w-[70%] sm:w-[60%] flex items-center gap-8">
              <img class="w-12 h-12 object-cover" src="/images/logo/google.svg" alt="">
              <h2>Continue with Google</h2>
            </div>
          </div>

          <div
            class="w-full text-2xl md:text-3xl flex gap-2 items-center justify-center py-4 md:py-6 rounded-md bg-gray-600/30">
            <div class=" w-[70%] sm:w-[60%] flex items-center gap-8">
              <img class="w-12 h-12 object-cover" src="/images/logo/facebook.svg" alt="">
              <h2>Continue with facebook</h2>
            </div>
          </div>

          <div class=" m-auto text-3xl">--------------- or ----------------</div>

          <form class=" flex flex-col gap-6 w-full" action="/auth/create" method="post">

            <input
              class="w-full px-8 py-6 text-3xl rounded-md outline-none border-2 border-zinc-700 bg-zinc-950 focus:border-teal-200"
              type="text" name="name" id="name" placeholder="Name" autocomplete="on" required>

            <input
              class="w-full px-8 py-6 text-3xl rounded-md outline-none border-2 border-zinc-700 bg-zinc-950 focus:border-teal-200"
              type="email" name="email" id="email" placeholder="Email" autocomplete="on" required>

            <input
              class="w-full px-8 py-6 text-3xl rounded-md outline-none border-2 border-zinc-700 bg-zinc-950 focus:border-teal-200"
              type="password" name="password" id="password" placeholder="Password" autocomplete="current-password"
              required>

            <input
              class="w-full px-8 py-6 text-3xl rounded-md outline-none border-2 border-zinc-700 bg-zinc-950 focus:border-teal-200"
              type="password" name="cpassword" id="cpassword" placeholder="Confirm Password"
              autocomplete="current-password" required>

            <!-- <div class="g-recaptcha" data-sitekey="6LfddKgpAAAAAOXVhgw38mcATYmisO_cswENpw3t"></div> -->
            <span class="flex items-center gap-1 text-xl md:text-2xl">
              <input class=" w-8 h-8 mr-2" type="checkbox" name="agree" id="agree" required>
              <span>
                I agree to
                <b class=" text-blue-400 underline">Terms of service </b> and
                <b class=" text-blue-400 underline">Privacy policy</b>
              </span>
            </span>
            <span class=" text-2xl md:text-3xl mt-3">
              Welcome back, savvy adventurer!
              <a href="/auth/signin"><b class=" cursor-pointer text-blue-400 underline">Login </b></a>
            </span>
            <button
              class=" mt-5 text-3xl font-poppins font-semibold text-gray-800 bg-gradient-to-r from-gray-100 to-lime-500 to-70% py-5 rounded-md">SignUp</button>
          </form>
        </div>

      </div>

    </div>

  </div>

  <footer class="fixed bottom-10 left-0 right-0">
    <%- include('./partials/footer'); %>
  </footer>

</div>