@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@font-face {
  font-family: "Pp Neue Machina";
  src: url("/fonts/PP_Neue_Machina_Inktrap_Medium.woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --salmon: salmon;
    --scrollPrimary: #818cf8;
    --scrollSecondary: #18181b;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollPrimary) var(--scrollSecondary);
  }

  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scrollPrimary);
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollSecondary);
  }

  html,
  body {
    box-sizing: border-box;
    font-size: 10px;
    background-color: #18181b;
    color: #f3f4f6;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid white;
    -webkit-text-fill-color: white;
    caret-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #09090b inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  .noty_layout {
    font-size: 16px; /* Set your desired font size */
  }
}
