<!-- Ejs file for sending the actual data   -->
<div>
  <p> Hi! There,
    <br><br>
    Oops! It seems like your password decided to take a spontaneous vacation without telling you! Don't worry, we've
    sent out a search party with a map of digital breadcrumbs to help bring it back safely.
    <br><br>
    In the meantime, feel free to grab a cup of coffee, do a little password rain dance, or tell your computer some
    funny jokes - who knows, your password might just come back laughing!
    <br><br>
    Stay calm and click the link below to reset your password:
    <a href="<%=link%>">
      link
    </a>
    <br><br>
    And remember, always keep your passwords close, but not too close - we don't want them running off again!
    <br><br>
    Thanks
    <br>
    team@ Auth-Remastered
    <br><br>
    <b>Note:</b> If you find your password hanging out on a sunny beach somewhere, tell it we miss it and it needs to
    come back home! 🏖️🌴
  </p>
</div>