<!-- Ejs file for sending the actual data   -->
<div>
    <p> Hi! There,
        <br><br>
        Welcome to the Fun Club! 🎉
        <br><br>
        To join the party, please click on the following link to verify your email address:
        <a href="<%=link%>">
            link
        </a>
        <br><br>
        If you're not feeling fun today, just ignore this message
        and we'll pretend it never happened. But where's the fun in that? 😜
        <br><br>
        Thanks
        <br>
        team@ Auth-Remastered
    </p>
</div>